.header__logo {
  margin: 0 0 36px 0;
  max-width: 142px;
  max-height: 33px;
}

@media screen and (max-width: 920px) {
  .header__logo {
    margin: 0 0 36px 27px;
  }
}

@media screen and (max-width: 660px) {
  .header__logo {
    max-width: 104px;
    max-height: 24px;
    margin: 0 0 28px 27px;
  }
}
