.popup__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 34px 64px 43px 36px;
  max-width: 330px;
  width: 100%;
}

@media screen and (max-width: 660px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    max-width: 238px;
    margin: 25px auto 70px;
    padding: 0;
  }
}
