.element__delete-button {
  background: url("../../../images/DeleteButton.svg") no-repeat center;
  cursor: pointer;
  height: 19px;
  width: 18px;
  border: none;
  padding: 0;
  flex-shrink: 0;
  position: absolute;
  top: 21px;
  right: 20px;
}

.element__delete-button:hover {
  opacity: 0.5;
}
