.profile__add-button {
  width: 150px;
  height: 50px;
  background: url("../../../images/Add-Button.svg") center no-repeat;
  border: solid 1px #ffffff;
  cursor: pointer;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 715px) {
  .profile__add-button {
    width: 282px;
    background: url("../../../images/Add-Button_mobile.svg") center no-repeat;
  }
}

.profile__add-button:focus {
  outline: 0px;
}
