.popup__input-error {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  max-width: 358px;
  margin: 0 auto;
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  height: max-content;
}
