.profile__info {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

@media screen and (max-width: 715px) {
  .profile__info {
    flex-direction: column;
  }
}
